---
import { Image } from 'astro:assets';
import FooterImage from '@/assets/OTGO_whitetext.png';

const currentYear = new Date().getFullYear();
---

<section>
	<a href="/">
		<Image src={FooterImage} alt="One to Grow On" />
	</a>
	<div class="text-center">
		© {currentYear}, One to Grow On
	</div>
</section>

<style>
	img {
		@apply m-auto w-11/12;
	}
</style>
