---
import { Image } from 'astro:assets';
import FooterImage from '@/assets/OTGO_whitetext.png';

const currentYear = new Date().getFullYear();
---

<section>
	<a href="/">
		<Image src={FooterImage} alt="One to Grow On" />
	</a>
	<div class="copyright">
		© {currentYear}, One to Grow On
	</div>
</section>

<style>
	img {
		width: 90%;
		margin: auto;
	}

	.copyright {
		text-align: center;
	}
</style>
