---
import { getCollection } from 'astro:content';
import FooterTagLink from './FooterTagLink.astro';

export interface Tag {
	count: number;
	name: string;
	slug: string;
}

export type Tags = Tag[];

// Derive tags from posts collection
const posts = await getCollection('posts');

const tagCounts = posts.reduce(
	(acc, post) => {
		post.data.tags?.forEach((tag: Tag['slug']) => {
			acc[tag] = (acc[tag] || 0) + 1;
		});
		return acc;
	},
	{} as Record<string, number>,
);

const tags: Tags = Object.entries(tagCounts)
	.map(([name, count]) => ({
		name,
		slug: name.toLowerCase().replace(/\s+/g, '-'),
		count,
	}))
	.sort((a, b) => b.count - a.count);
---

<section>
	<h3>Brows by tag:</h3>
	{
		tags.map((tag) => (
			<FooterTagLink href={`/tag/${tag.slug}`} tagCount={tag.count}>
				{tag.name}
			</FooterTagLink>
		))
	}
</section>

<style>
	@reference '@/styles/global.css';
	h3 {
		font-family: var(--font-header);
		display: inline;
		font-size: var(--text-2xl); /* text-2xl equivalent */
	}
</style>
