---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
	tagCount: number;
}

const { href, tagCount, ...attrs } = Astro.props;

// const scaler = base => Math.pow(base, 1 / 1.3);
// const scaler = (base) => Math.log(base) + 1;
const fontScaler = `${Math.log(Math.sqrt(tagCount)) + 0.2}rem`;
// const fontScaler = `${Math.log(tagCount) / 2}rem`;
---

<a href={href}>
	<slot />
</a>

<style define:vars={{ fontScaler }}>
	@reference '@/styles/global.css';
	a {
		@apply hover:bg-otgogreen-light hover:text-otgogreen-dark rounded px-0.5 text-[length:--fontScaler] leading-none;
	}
</style>
