<nav>
	<ul>
		<li>
			Episodes <ul>
				<li>Series and Minisodes</li>
				<li>Transcripts</li>
			</ul>
		</li>
		<li>
			About
			<ul>
				<li>Press Kit</li>
				<li>Collaborations</li>
				<li>Contact</li>
			</ul>
		</li>
		<li>Support</li>
	</ul>
</nav>

<style>
	nav {
		@apply fixed left-0 top-0 h-full bg-otgowhite/90 px-4 pt-24;
	}
	li > ul > li {
		@apply ml-4;
	}
</style>
