---
import MenuLink from './MenuLink.astro';
---

<nav id="menu">
	<ul>
		<li>
			<MenuLink href="/">Episodes</MenuLink>
			<ul>
				<li><MenuLink href="/series-and-minisodes">Series and Minisodes</MenuLink></li>
				<li><MenuLink href="/transcripts">Transcripts</MenuLink></li>
			</ul>
		</li>
		<li>
			<MenuLink href="/about">About</MenuLink>
			<ul>
				<li><MenuLink href="/press">Press Kit</MenuLink></li>
				<li><MenuLink href="/collaborations">Collaborations</MenuLink></li>
				<li><MenuLink href="/contact">Contact</MenuLink></li>
			</ul>
		</li>
		<li><MenuLink href="https://www.patreon.com/onetogrowonpod" isExternal>Support</MenuLink></li>
	</ul>
</nav>

<style>
	nav {
		background-color: var(--otgowhite);
		opacity: 0.9;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		transform: translateX(-100%);
		padding: calc(var(--spacing) * 24) calc(var(--spacing) * 4) 0 calc(var(--spacing) * 4);
		transition: all 300ms;
	}

	.open {
		transform: translateX(0);
	}
	/*
	ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}

	ul.menu-section {
		list-style-type: none;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
*/
	li {
		width: 100%;
		font-size: var(--text-lg);
		font-weight: bold;
	}

	li > ul > li {
		margin-left: calc(4 * var(--spacing));
	}
</style>

<script>
	import { menuIsOpen } from '@/stores/menuStore';
	const menu = document.getElementById('menu');
	// Listen to changes in the store, and show/hide the dialog accordingly
	menuIsOpen.subscribe((open) => {
		if (open) {
			menu?.classList.add('open');
		} else {
			menu?.classList.remove('open');
		}
	});

	function closeMenu() {
		const navCheckbox = document.getElementById('nav-toggle') as HTMLInputElement | null;
		if (navCheckbox?.checked) navCheckbox.click();
		menuIsOpen.set(false);
	}

	menu?.addEventListener('click', closeMenu);
</script>
