<input type="checkbox" name="" id="nav-toggle" class="navigation__checkbox" />
<label for="nav-toggle" class="navigation__button">
	<span class="navigation__icon"></span>
</label>

<style>
	/* style other things based on the state of the checkbox */
	.navigation__checkbox {
		display: none;

		/* hide the center bar when the button is clicked (checkbox is checked) */
		&:checked + .navigation__button .navigation__icon {
			background-color: transparent;
		}

		&:checked + .navigation__button .navigation__icon::before {
			top: 0;
			transform: rotate(135deg);
		}

		&:checked + .navigation__button .navigation__icon::after {
			top: 0;
			transform: rotate(-135deg);
		}
	}

	/* Gets applied to the label because labels can be styled and control the checkboxes */
	.navigation__button {
		background-color: rgba(82, 37, 70, 0.95);
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 10;
		display: flex;
		height: 70px;
		width: 70px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		border-radius: 9999px;
		box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

		/* animate the hamburger on hover */
		&:hover .navigation__icon:before {
			top: calc(var(--spacing) * -3);
		}
		&:hover .navigation__icon:after {
			top: calc(var(--spacing) * 3);
		}
	}

	/* the hamburger itself */
	.navigation__icon {
		position: relative;

		/* set look of each bar */
		&,
		&::before,
		&::after {
			background-color: white;
			height: 2px;
			width: calc(var(--spacing) * 8);
		}

		/* make top & bottom bars appear */
		&::before,
		&::after {
			position: absolute;
			transition: all linear 0.2s;
			content: '';
		}

		/* position top & bottom bars */
		&::before {
			top:  calc(var(--spacing) * -2);
		}
		&::after {
			top: calc(var(--spacing) * 2);
		}
	}
</style>

<script>
	import { menuIsOpen } from '@/stores/menuStore';

	function toggleMenu() {
		menuIsOpen.set(!menuIsOpen.get());
	}

	document.getElementById('nav-toggle')?.addEventListener('click', toggleMenu);
</script>
