---
import IconLink from './IconLink.astro';

type Icon = {
	href: string;
	title: string;
	path: string;
};

interface Props {
	title: string;
	icons: Icon[];
}

const { title, icons } = Astro.props;
---

<div class="grid-wrapper">
	<div class="icon-label">{title}:</div>
	<div class="icon-container">
		{icons.map((icon) => <IconLink href={icon.href} path={icon.path} title={icon.title} />)}
	</div>
</div>

<style>
	@reference '@/styles/global.css';
	.grid-wrapper {
		@apply grid grid-cols-[1fr_2fr] items-center;
	}
	.icon-label {
		@apply font-header text-right text-2xl;
	}
	.icon-container {
		@apply flex justify-evenly;
	}
</style>
