---
interface Props {
	href: string;
	title: string;
	path: string;
}

const { href, title, path } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
	<svg width="32" height="32" viewBox="0 0 32 32">
		<title>{title}</title>
		<path d={path}></path>
	</svg>
</a>

<style>
	svg {
		/* for some reason the animate class didn't apply to the svg element */
		transition: fill 150ms;
		fill: var(--otgowhite);
	}

	svg:hover {
		fill: var(--otgoorange-light);
	}

</style>
