<p>Special thanks to</p>
<ul>
	<li>- Lindsay</li>
	<li>- Vikram</li>
	<li>- Mama Casey</li>
	<li>- Shianne</li>
	<li>- Patrick</li>
	<li>- Maggie</li>
	<li>- Stephen</li>
</ul>

<style>
	p,
	ul {
		@apply text-xl;
	}
	ul {
		@apply list-image-none;
	}
</style>
