---
import SidebarImage from './SidebarImage.astro';
import { IMAGE_INFO } from './sidebarConstants';

const min = 0;
const max = IMAGE_INFO.length - 1;

const imageNumbers = [];
while (imageNumbers.length < 3) {
	const imageNumber = Math.floor(Math.random() * (max - min) + min);
	if (imageNumbers.indexOf(imageNumber) === -1) {
		imageNumbers.push(imageNumber);
	}
}
---

<div class="wrapper">
	{imageNumbers.map((imageNumber) => <SidebarImage imageNumber={imageNumber} />)}
</div>

<style>
	@reference '@/styles/global.css';
	.wrapper {
		@apply flex flex-col gap-4;
	}
</style>
