@layer base {
	:root {
		/* Fonts */
		--header: 'Lilita One', serif;
		--sans: 'Cabin', sans-serif;

		/* Colors */
		--accent-1: #fafafa;
		--accent-2: #eaeaea;
		--accent-7: #333;
		--success: #0070f3;
		--cyan: #79ffe1;

		/* Custom color groups */
		--otgogreen-light: #b4d55f;
		--otgogreen-medium: #4c9342;
		--otgogreen-dark: #3f421b;

		--otgopurple-light: #692f65;
		--otgopurple-dark: #4e2688;

		--otgoorange-light: #f9a415;
		--otgoorange-dark: #f68722;

		--otgored: #b42025;
		--otgoyellow: #ffd744;
		--otgowhite: #fdfdfd;
		--otgoblack: #212121;

		--spacing: 0.25rem;

		--breakpoint-sm: 40rem;
		--breakpoint-md: 48rem;
		--breakpoint-lg: 64rem;
		--breakpoint-xl: 80rem;
		--breakpoint-2xl: 96rem;
	}
}
