---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

import Orange from '@/assets/orange.png';
---

<BaseLayout title="404 Not Found">
	<div class="wrapper">
		<h1>404 Error</h1>
		<p>
			A disaster. We can’t find that page.
			<br />
			It might be an old link, or it might have moved!
		</p>
		<Image src={Orange} alt="" />
	</div>
</BaseLayout>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: calc(5 * var(--spacing)); /* gap-5 */
		margin-top: calc(10 * var(--spacing)); /* my-10 */
		margin-bottom: calc(10 * var(--spacing));
	}

	h1 {
		font-family: var(--font-header);
		font-size: var(--text-4xl); /* text-4xl */
		color: var(--otgopurple-dark);
	}

	@media (min-width: 40rem) {
		/* sm: breakpoint */
		h1 {
			font-size: var(--text-7xl); /* text-7xl */
		}
	}

	p {
		text-align: center;
	}

	img {
		max-width: calc(32 * var(--spacing));
	}
</style>
