---
import { type Posts } from '@/components/Posts.astro';
import PageLayout from '../layouts/PageLayout.astro';

import { formatDate } from '../scripts/formatDate';

export async function getStaticPaths() {
	const res = await fetch('https://12go.onetogrowonpod.com/wp-json/wp/v2/posts?_embed');

	if (!res.ok) {
		console.log(res);
	}
	const posts: Posts = await res.json();

	return posts.map((post) => {
		return {
			params: { slug: post.slug },
			props: { post },
		};
	});
}

const { post } = Astro.props;
const formatedDate = formatDate(post.date);
---

<PageLayout>
	<article>
		<h1 class="text-4xl font-bold">{post.title.rendered}</h1>
		<time class="block mb-5" datetime={formatedDate}>{formatedDate}</time>
		<section class="article-text" set:html={post.content.rendered} />
	</article>
</PageLayout>

<style is:global>
	section.article-text {
		& p {
			@apply mb-4 text-lg;
		}
		& a {
			@apply text-otgogreen-medium;
		}
		& a:hover {
			@apply text-otgoorange-light;
		}
	}
</style>
