---
import PageTitle from '@/components/PageComponents/PageTitle.astro';
import SectionTitle from '@/components/PageComponents/SectionTitle.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import CollabImage from '@/components/CollabImage.astro';
---

<PageLayout title="Collaborations">
	<PageTitle>Collaborations</PageTitle>
	<SectionTitle>Listen to us elsewhere!</SectionTitle>

	<div class="collab-gallery">
		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="http://outsideinradio.org/shows/rice-is-food"
			>
				<CollabImage image="outsidein" />
				<h3 class="series-title">Outside In</h3>
			</a>
			<div class="collab-episode-title">Rice is Food and Other Stories</div>
			<div class="collab-episode-date">September, 2020</div>
			<p>
				In a follow-up episode to Outside/In's "Greatest Fruit of All Time" episode, Hallie and
				others submit their cases for the best fruit ever, and hosts explore the intersections of
				fruit, food, and colonialism.
			</p>
		</div>

		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.planthropologypod.com/home/deepdive-halliecasey"
			>
				<CollabImage image="planthropology" />
				<h3 class="series-title">Planthropology</h3>
			</a>
			<div class="collab-episode-title">Deep Dive- Fixing Food Systems w/ Hallie Casey</div>
			<div class="collab-episode-date">August, 2020</div>
			<p>
				Aren't plant people awesome? Planthropology host Vikram Baliga interviews Hallie the ins and
				outs of food supply and how moving to local and regional market strategies can help fix some
				of the problems.
			</p>
		</div>

		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://thefarmtraveler.com/2020/07/22/podcast-episode-66-one-to-grow-on-podcast/"
			>
				<CollabImage image="farmtraveler" />
				<h3 class="series-title">Farm Traveller</h3>
			</a>
			<div class="collab-episode-title">Podcast Episode 66: One to Grow On Podcast</div>
			<div class="collab-episode-date">July, 2020</div>
			<p>
				In Farm Traveler, a podcast about bridging the gap between farmers and consumers, Hallie and
				Chris talk about why they started the podcast, who their audience is, and fascinating topics
				they've learned about on the show.
			</p>
		</div>

		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://horticulturati.libsyn.com/local-food-living-soil-with-hallie-casey"
			>
				<CollabImage image="horticulturati" />
				<h3 class="series-title">Horticulturati</h3>
			</a>
			<div class="collab-episode-title">Local Food & Living Soil (with Hallie Casey)</div>
			<div class="collab-episode-date">April, 2020</div>
			<p>
				The Horticulturati is a gardening talkshow, and on this episode hosts Leah and Colleen
				interview Hallie about how the global pandemic impacting local food systems.
			</p>
		</div>

		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://puttingittogether.transistor.fm/s6/10"
			>
				<CollabImage image="puttingittogether" />
				<h3 class="series-title">Putting It Together</h3>
			</a>
			<div class="collab-episode-title">Getting Married Today – Company (with Hallie Casey)</div>
			<div class="collab-episode-date">February, 2020</div>
			<p>
				Putting It Together is a podcast about Stephen Sondheim's entire body of work show by show
				and song by song. Hallie joins host Kyle to discuss relationships, updated lyrics, and a
				book written in 1852.
			</p>
		</div>

		<div>
			<span>
				<CollabImage image="planthropology" />
				<h3 class="series-title">Planthropology</h3>
			</span>
			<div class="collab-episode-title">
				Episode 5: Hallie Casey- Science Communication, One to Grow On, and Giant Entomology Books
			</div>
			<div class="collab-episode-date">January, 2020</div>
			<div>
				Aren't plant people awesome? Planthropology host Vikram Baliga interviews Hallie about her
				path to agriculture, thoughts about science communication, and feelings about gatekeeping in
				agriculture.
			</div>
		</div>

		<div>
			<a
				class="collab-link"
				target="_blank"
				rel="noopener noreferrer"
				href="https://spiritspodcast.com/episodes/gods-goddesses-of-agriculture?rq=hallie"
			>
				<CollabImage image="spirits" />
				<h3 class="series-title">Spirits</h3>
			</a>
			<div class="collab-episode-title">
				Episode 144: Gods & Goddesses of Agriculture (with Hallie Casey and Catherine Arjet)
			</div>
			<div class="collab-episode-date">September, 2019</div>
			<div>
				Spirits is a boozy podcast about mythology, legends, and folklore. Hallie and Producer
				Catherine discuss some of their favorite gods and goddesses of agriculture.
			</div>
		</div>
	</div>
</PageLayout>

<style>
	.collab-gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--spacing-6);
	}

	.series-title {
		font-family: var(--font-header);
		line-height: var(--text-xl--line-height);
		font-size: var(--text-xl);
		font-weight: normal;
		margin-bottom: var(--spacing);
	}

	.collab-episode-title {
		font-weight: bold;
	}

	.collab-episode-date {
		margin-bottom: var(--spacing-2);
		font-style: italic;
	}

	.collab-link,
	.collab-link:link,
	.collab-link:visited {
		display: inline-block;
		text-decoration: none;
		color: var(--otgopurple-dark);
		width: 100%;
		border-radius: 3px;
		transition-duration: 0.3s;
	}

	.collab-link:hover {
		color: var(--otgoorange-light);
		transition-duration: 0.3s;
	}

	@media (max-width: 425px) {
		.collab-gallery {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
