---
import PageLayout from '@/layouts/PageLayout.astro';
import PageTitle from '@/components/PageComponents/PageTitle.astro';
import SectionTitle from '@/components/PageComponents/SectionTitle.astro';
import PageSection from '@/components/PageComponents/PageSection.astro';
---

<PageLayout>
	<PageTitle>Press Kit</PageTitle>
	<SectionTitle>What We Do</SectionTitle>
	<PageSection>
		<p>
			<em>One to Grow On</em> is a podcast where we dig into questions about agriculture and try to understand
			how food production impacts us and our world. Each episode, hosts Hallie and Chris pick an area
			of agriculture or food production to discuss. Listen for plant facts, dad jokes, and the stories
			behind your food.
		</p>

		<p>
			<em>One to Grow On</em> is an older kid-friendly podcast that is safe and appropriate for listeners
			of all ages. There are a few clearly marked episodes that contain content that may not be suitable
			for all ages
		</p>

		<p>
			Our episodes are published every other Tuesday and run 25-40 minutes. You don’t need to listen
			in order; scroll through episode titles or explore episodes by subject matter on our website.
		</p>
	</PageSection>
</PageLayout>
