---
import PageSection from '../components/PageComponents/PageSection.astro';
import PageTitle from '../components/PageComponents/PageTitle.astro';
import SectionTitle from '../components/PageComponents/SectionTitle.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Series and Minisodes">
	<PageTitle>Series and Minisodes</PageTitle>

	<SectionTitle>Series</SectionTitle>
	<PageSection>
		<p>
			Series allow us to dive deep into a particularly complicated topic or idea in agriculture.
			When we work on a series, will we take a look at a topic and then discuss it over several
			episodes.
		</p>
	</PageSection>
	<div class="series-section">
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/organic-ag/">Organic Agriculture (June-July 2019)</a>
			</h3>
			<p>
				In this four-part series, Chris and Hallie dive head first into the tangled world of
				certified organic agriculture. They go in-depth about the history of the movement, the
				proper definitions of the term “organic,” and discuss the environmental, economic, and human
				health costs, benefits, and trade-offs of growing organic.
			</p>
		</div>
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/water/">Water (January 2020)</a>
			</h3>
			<p>
				In this two-part series, our hosts jump into the history and present-day challenges of
				water. In episode one, Hallie and Chris talk about irrigation development throughout history
				and around the globe. In the second episode, they learn about how much water is required to
				produce a plate of food, and talk through some of the challenges facing the agriculture
				industry today.
			</p>
		</div>
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/local-food/">Local Food</a>
			</h3>
			<p>
				In this three-part series, Hallie and Chris interview different players within the local
				food system. Our hosts explore the joys and stuggles of local farming, learn about the
				history and current-day importance of farmer&rsquo;s markets, and talk about the importance
				of local food in the supply chain.
			</p>
		</div>
	</div>

	<SectionTitle>Special Episodes</SectionTitle>
	<PageSection>
		<p>
			Every once in a while, we like to shake up our format a little. In special episodes, we look
			at topics in agriculture in a slightly different way.
		</p>
	</PageSection>
	<div class="series-section">
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/superfoods/">Superfoods</a>
			</h3>
			<p>
				Every few months we take a break from our usual format to do a round-up of “superfoods!” In
				these special episodes, Hallie and Chris discuss four or more foods that have been given the
				marketing mantle of a “superfood.” They discuss the plant, its history as a crop, and debate
				just how super it actually is.
			</p>
		</div>
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/question-episode/"> Questions with Catherine </a>
			</h3>
			<p>
				Producer Catherine Arjet usually is a behind-the-scenes presence on One to Grow On. But once
				in a while we like to do episodes where Catherine asks some basic questions. Catherine
				doesn’t have a background in agriculture and so often finds herself shocked and surprised
				when doing research for the show. These episodes are fun, chatty, and will almost always
				surprise you.
			</p>
		</div>
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/crops/">Crops</a>
			</h3>
			<p>
				One of our favorite types of episodes is our crop profile episodes. In these special
				episodes, Hallie and Chris take a deep-dive into crop science, agronomic history,
				postharvest practices, and other fascinating facts that tell the story of a crop.
			</p>
		</div>
	</div>

	<SectionTitle>Minisodes</SectionTitle>
	<PageSection>
		<p>
			Occasionally, we have a topic that is super interesting but not long enough to take up a full
			episode. For these, we do a minisode where we can dive deep into a topic for just a little bit
			of time.
		</p>
	</PageSection>
	<div class="series-section">
		<div class="series-item">
			<h3 class="series-title">
				<a href="/tag/askonetogrowon/">#AskOnetoGrowOn</a>
			</h3>
			<p>
				If you have a question about agriculture, we want to get you answers. On these minisodes
				(&lt;10 minutes long), Hallie will take a short query or brief uncertainty and provide some
				quick answers.
			</p>
		</div>
	</div>
</PageLayout>

<style>
	.series-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 1%;
	}

	.series-item {
		flex: 0 49%;
		margin-bottom: var(--spacing-6);
	}

	.series-title {
		font-family: 'Lilita One', cursive;
		/* font-family: Bitter, Georgia, serif; */
		line-height: var(--text-xl--line-height);
		font-size: var(--text-xl);
		font-weight: normal;
		margin-bottom: var(--spacing);

		& a {
			color: var(--otgopurple-dark);

			&:hover {
				color: var(--otgoorange-light);
			}
		}
	}
</style>
