---
import FooterLogo from './FooterSections/FooterLogo.astro';
---

<footer>
	<section>
		<h1>tags</h1>
	</section>
	<FooterLogo />
	<section>
		<h1>links</h1>
	</section>
</footer>

<style>
	footer {
		@apply p-3 text-otgowhite bg-otgogreen-medium grid grid-cols-3 items-center;
		& section {
			@apply border;
		}
	}
</style>
