<footer><section>Tags</section><section>logo</section><section>links</section></footer>

<style>
	footer {
		/* Should it be grid-flow-col or grid-cols-3? */
		@apply p-3 text-otgowhite bg-otgogreen-medium grid grid-flow-col;
	}
</style>
