---
import FooterTags from './FooterSections/FooterTags.astro';
import FooterLogo from './FooterSections/FooterLogo.astro';
import { CONNECT_LINKS, SUBSCRIBE_LINKS } from './Icons/constants';
import IconLink from './Icons/IconLink.astro';
import IconContainer from './Icons/IconContainer.astro';
---

<footer>
	<FooterTags />
	<FooterLogo />
	<section>
		<IconContainer icons={SUBSCRIBE_LINKS} />
		<IconContainer icons={CONNECT_LINKS} />
	</section>
</footer>

<style>
	footer {
		@apply grid grid-cols-3 items-center bg-otgogreen-medium p-3 text-otgowhite;
		& section {
			@apply border;
		}
	}
</style>
