---
import FooterTags from './FooterSections/FooterTags.astro';
import FooterLogo from './FooterSections/FooterLogo.astro';
---

<footer>
	<FooterTags />
	<FooterLogo />
	<section>
		<h1>links</h1>
	</section>
</footer>

<style>
	footer {
		@apply grid grid-cols-3 items-center bg-otgogreen-medium p-3 text-otgowhite;
		& section {
			@apply border;
		}
	}
</style>
