---
import FooterTags from './FooterSections/FooterTags.astro';
import FooterLogo from './FooterSections/FooterLogo.astro';
import { SUBSCRIBE_LINKS } from './Icons/constants';
import IconLink from './Icons/IconLink.astro';
---

<footer>
	<FooterTags />
	<FooterLogo />
	<section>
		<h1>links</h1>
		{
			SUBSCRIBE_LINKS.map((link) => {
				return <IconLink href={link.href} path={link.path} title={link.title} />;
			})
		}
	</section>
</footer>

<style>
	footer {
		@apply grid grid-cols-3 items-center bg-otgogreen-medium p-3 text-otgowhite;
		& section {
			@apply border;
		}
	}
</style>
