---
import { Image } from 'astro:assets';
import HeaderImage from '@/assets/12GO_YTHeader.png';

export interface Props {
	class?: string;
}
const { class: className } = Astro.props;
const params = Astro.params;
const isOnHomePage = !params?.slug;
const headerHeight = isOnHomePage ? '450px' : '200px';
---

<header class={className}>
	<Image class="cell image" src={HeaderImage} alt="" />
	<a class="cell" href="/">
		{isOnHomePage && <h1>One to Grow On</h1>}
		{!isOnHomePage && <h2>One to Grow On</h2>}
		<p>Understanding how food production impacts ourselves and our world</p>
	</a>
</header>

<style define:vars={{ headerHeight }}>
	header {
		@apply text-otgopurple-dark grid text-center items-center;
	}
	.image {
		@apply w-full max-h-[--headerHeight] object-cover;
	}
	h1,
	h2 {
		@apply font-header text-[min(6.7vw,144px)];
	}
	a {
		@apply bg-white shadow-white shadow-[0_0px_100px_90px] m-auto hover:text-otgoorange-light transition-colors leading-tight;
	}
	p {
		@apply text-sm lg:text-lg xl:text-xl font-bold;
	}
	.cell {
		@apply row-start-1 col-start-1 overflow-hidden;
	}
</style>
