---
import { Image } from 'astro:assets';
import HeaderImage from '@/assets/12GO_YTHeader.png';

export interface Props {
	class?: string;
}
const { class: className } = Astro.props;
const isOnHomePage = Astro.url.pathname === '/';
const headerHeight = isOnHomePage ? '450px' : '200px';
---

<header class={className}>
	<Image class="cell image" src={HeaderImage} alt="" />
	<a class="cell" href="/">
		{isOnHomePage && <h1>One to Grow On</h1>}
		{!isOnHomePage && <h2>One to Grow On</h2>}
		<p>Understanding how food production impacts ourselves and our world</p>
	</a>
</header>

<style define:vars={{ headerHeight }}>
	header {
		color: var(--otgopurple-dark);
		display: grid;
		align-items: center;
		text-align: center;
	}

	.image {
		max-height: var(--headerHeight);
		width: 100%;
		object-fit: cover;
	}

	h1,
	h2 {
		font-family: var(--font-header);
		font-size: min(6.7vw, 144px);
	}

	a {
		margin: auto;
		background-color: white;
		line-height: 1;
		box-shadow: 0 0px 100px 90px white;
	}

	a:hover {
		color: var(--otgoorange-light);
	}

	p {
		font-size: var(--text-sm); /* text-sm */
		font-weight: var(--font-weight-bold);
		line-height: var(--text-base--line-height);
	}

	@media (min-width: 1024px) { /* lg: breakpoint */
		p {
			font-size: var(--text-lg); /* text-lg */
		}
	}

	@media (min-width: 1280px) { /* xl: breakpoint */
		p {
			font-size: var(--text-xl); /* text-xl */
		}
	}


	.cell {
		grid-column-start: 1;
		grid-row-start: 1;
		overflow: hidden;
	}
</style>
