---
import { Image } from 'astro:assets';
import HeaderImage from '@/assets/12GO_YTHeader.png';

export interface Props {
	class?: string;
}
const { class: className } = Astro.props;
const isOnHomePage = Astro.url.pathname === '/';
const headerHeight = isOnHomePage ? '450px' : '200px';
---

<header class={className}>
	<Image class="cell image" src={HeaderImage} alt="" />
	<a class="cell" href="/">
		{isOnHomePage && <h1>One to Grow On</h1>}
		{!isOnHomePage && <h2>One to Grow On</h2>}
		<p>Understanding how food production impacts ourselves and our world</p>
	</a>
</header>

<style define:vars={{ headerHeight }}>
	header {
		@apply grid items-center text-center text-otgopurple-dark;
	}
	.image {
		@apply max-h-[--headerHeight] w-full object-cover;
	}
	h1,
	h2 {
		@apply font-header text-[min(6.7vw,144px)];
	}
	a {
		@apply m-auto bg-white leading-none shadow-[0_0px_100px_90px] shadow-white transition-colors hover:text-otgoorange-light;
	}
	p {
		@apply text-sm font-bold lg:text-lg xl:text-xl;
	}
	.cell {
		@apply col-start-1 row-start-1 overflow-hidden;
	}
</style>
