---
const { title, date } = Astro.props;

const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
const formattedDate = new Date(date).toLocaleDateString('en-us', options);
---

<div class="banner">
	<h2 set:html={title} />
	<p set:html={formattedDate} />
</div>

<style>
	.banner {
		@apply font-header text-otgowhite hover:text-otgoorange-light bg-otgopurple-dark/75 w-full text-center p-8 transition-colors;
	}
	h2 {
		@apply text-2xl;
	}
	p {
		@apply text-base;
	}
</style>
