---
import { formatDate } from '../scripts/formatDate';
const { title, date, class: className, ...rest } = Astro.props;

const formattedDate = formatDate(date);
---

<div class:list={['banner', className]} {...rest}>
	<h2 set:html={title} />
	<p set:html={formattedDate} />
</div>

<style>
	@reference '@/styles/global.css';
	.banner {
		@apply bg-otgopurple-dark/75 font-header text-otgowhite hover:text-otgoorange-light flex min-h-[60%] w-full flex-col items-center justify-center p-1 text-center transition-colors;
	}
	h2 {
		@apply text-xl;
	}
	p {
		@apply text-base;
	}
</style>
