---
// https://12go.onetogrowonpod.com/graphql

interface Post {
	id: number;
	title: {
		rendered: string;
	};
	excerpt: {
		rendered: string;
	};
	date: string;
}

type Posts = Post[];

// const res = await fetch('https://12go.onetogrowonpod.com/wp-json/wp/v2/posts?per_page=100');
const res = await fetch('https://12go.onetogrowonpod.com/wp-json/wp/v2/posts');
if (!res.ok) {
	console.log(res);
}
const posts: Posts = await res.json();
console.log(posts[0]);
---

<section class="post-grid">
	{
		posts.map((post) => (
			<div class="mb-8">
				<h2 set:html={post.title.rendered} />
				<p>{post.date}</p>
				<p set:html={post.excerpt.rendered} />
			</div>
		))
	}
</section>

<style>
	.post-grid {
		@apply grid md:grid-cols-3 grid-flow-row gap-8;
	}
</style>
