---
import { formatDate } from '../scripts/formatDate';
const { title, date } = Astro.props;

const formattedDate = formatDate(date);
---

<div class="banner">
	<h2 set:html={title} />
	<p set:html={formattedDate} />
</div>

<style>
	.banner {
		@apply w-full bg-otgopurple-dark/75 p-8 text-center font-header text-otgowhite transition-colors hover:text-otgoorange-light;
	}
	h2 {
		@apply text-2xl;
	}
	p {
		@apply text-base;
	}
</style>
