---
import PatronList from './SideBarSections/PatronList.astro';
import SidebarImages from './SideBarSections/SidebarImages.astro';
import Divider from './Divider.astro';
---

<aside>
	<Divider class="topDivider" />
	<PatronList />
	<section class="hideOnMobile">
		<Divider />
		<SidebarImages class="images" />
		<Divider />
	</section>

	<style>
		aside {
			@apply md:max-w-52;
		}
		.topDivider {
			@apply mt-0;
		}
		.hideOnMobile {
			@apply hidden md:block;
		}
	</style>
</aside>
