---
import IconLink from './IconLink.astro';

type Icon = {
	href: string;
	title: string;
	path: string;
};

interface Props {
	icons: Icon[];
}

const { icons } = Astro.props;
---

<div class="icon-container">
	{icons.map((icon) => <IconLink href={icon.href} path={icon.path} title={icon.title} />)}
</div>

<style>
	.icon-container {
		@apply flex justify-evenly;
	}
</style>
