<section>
	<slot />
</section>

<style>
	section {
		margin-top: 0.3rem;
		//font-size: 1.7rem;

		p {
			margin-bottom: calc(var(--spacing) * 4);
		}

		figure {
			float: left;
			margin: 5px 20px 5px 0;

			img {
				/* height: 300px; */
				width: 250px;
			}

			figcaption {
				font-style: italic;
			}
		}
	}
</style>
