---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@fontsource/cabin';
import '@fontsource/lilita-one';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/lettuce.png" />
		<meta name="generator" content={Astro.generator} />
		<title>12GO</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	main {
		@apply p-8 max-w-[960px] m-auto;
	}
</style>
