---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<BaseLayout>
	<div class="wrapper" slot="content">
		<div>
			<slot />
		</div>
		<Sidebar />
	</div>
</BaseLayout>

<style>
	@media (min-width: 48rem) {
		.wrapper {
			display: flex;
			gap: calc(
				var(--spacing) * 8
			); /* 8 * 0.25rem = 2rem, since Tailwind's gap-8 represents 8 units of 0.25rem */
		}
	}
</style>
