---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<BaseLayout>
	<div class="wrapper">
		<section>
			<slot />
		</section>
		<Sidebar />
	</div>
</BaseLayout>

<style>
	.wrapper {
		@apply md:flex md:gap-8;
		h1 {
			@apply text-5xl;
		}
	}
</style>
